@import url("./components/navbar.scss");
@import url("./components/footer.scss");
@import url("./pages/users.scss");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    button{
        outline: none;
        border: none;
    }
}
/* Base styles */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    max-width: 600px;
    padding: 0 20px;
    /* Add padding to give some space on the sides */
}

.name,
.number,
.username {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    width: 100%;
    /* Make inputs fill the available space */
}

.btn {
    margin: 0 auto;
}

select,
input,
button {
    padding: 15px;
    /* Reduce padding for smaller screens */
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    height: auto;
    /* Let button height adjust based on content */
}

/* Focus styles */
input:focus {
    border: 1px solid rgb(0, 157, 255);
}

/* Media queries for responsiveness */
@media only screen and (min-width: 768px) {

    /* Tablet styles */
    form {
        max-width: 600px;
        /* Keep the same max-width for tablets */
    }
}

@media only screen and (min-width: 992px) {

    /* Desktop styles */
    form {
        max-width: 800px;
        /* Adjust max-width for desktop screens */
    }
}