.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 100px;
   a{ 
    color: aliceblue;   
    display: flex;
    align-items: center;
    gap: 5px;
   }
}